{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">
  <div class="text">
    <p class="login-title" style="font-size: 2.7em; text-align: center">Forgot your password?</p>
    <p class="login-title" style="font-size: 2em; text-align: center">Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary btn-lg btn-block button-font button-color1" value="Send me instructions!">
    </form>
  </div>
</div>
{% endblock %}
