@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,800|Dancing+Script:400|Roboto+Condensed|Open+Sans|Muli");

* {
	/* making the website to be full page */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', Arial, sans-serif;
}


.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size:20pt;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
.comment_add{
	display: inline; /* the default for span */

}

.homepage-title{
	color: white;
	font-weight: bold;
	margin-top: 50pt;
	font-size: 30pt;
}



.left-section{
	position: relative;
	background: #38d39f;
}



.right-section{
	position: relative;
	background: white;
}

svg#e37c00f5-ff96-45aa-87ea-1a24b78ba7bd{
	width: 110%;
	height: 110%;
	transform: translate(-7%, 0%);
}

#notlogin{
	font-weight: bold;
	margin-bottom: 20pt;
	font-size: 23pt;
}

.middle2{
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-color1{
	background: #38d39f;
	color:white;
	border-color: #38d39f;
	margin-top: 30pt;
	margin-bottom: 10pt;
}

.button-color1:hover{
	background: #38a69f;
	border-color: #38a69f;
}


.button-color2{
	background: white;
	color:#38d39f;
	border-color: #38d39f;
}

.button-color2:hover{
	background: #C0C0C0;
	border-color: #38d39f;
}


.middle{
	background: white;
	height: 30%;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-font{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 13pt;
}

.button-s{
	background: red;
	border-radius: 10px;
	text-align: center;
}

.a-dec{
	text-decoration: none;
	font-size: 1em;
}

.a-dec:hover{
	text-decoration: none;
  color: black
}


.image-bg{
	background-image: url("bg.jpg");
	background-size: 1000px 800px;
}
.btn-default{
background-color: #38d39f;
color:white;
border-color: #38d39f;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
background-color: #38a69f;
border-color: #38a69f;
color:white;
}

.friend{
    text-align: left;
		margin-left: 1.5em;
		margin-bottom: 1em;
    font-size: 25px;

}
.text{
	background: white;
	height: 30%;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.text2{
	background: white;
	height: 30%;
	width: 60%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.login-title{
	color: black;
	font-weight: bold;

}
.a-dec2{
	text-decoration: none;
	font-size: 1em;
	color: #38d39f;
}

.a-dec2:hover{
	text-decoration: none;
  color: black;
}
.profile{
	color: black;
}
