@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,800|Dancing+Script:400|Roboto+Condensed");

* {
	/* making the website to be full page */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', Arial, sans-serif;
}