{% extends 'base.html' %}
{% load rest_framework %}
{% block title %}Profile{% endblock %}

{% block content %}

<head>
    <style type="text/css">
        .part{
            display: block;
            margin:5px;
        }
        .btn{
            margin-left: 8em;
        }
        label {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
        input, select{
            vertical-align: top;
            margin-left: 1.5em;
        }
        .upload{
            text-align: left;
            margin-left: 5em;
            width: 100%;
        }
        .upload_label{
            font-size: 0.8em;
        }
        #texta{
            vertical-align: top;
            margin-left: 10%;
            width: 90%;
        }
    </style>
</head>

<div class="post_container" style="margin-left:10%; margin-top:2%; margin-right:20%">
    <p class="login-title" style="font-size: 2.7em">Edit Post</p>

    <form action="{% url 'editpost' post.post_id %}" method="POST">
        {% csrf_token %}
        <div class="part" style="font-size: 1.2em; font-family:Muli">
            <div>
                 <label for="title">Title: </label>
                 <input id="title" name="title" value="{{post.title}}"/>
            </div>
            <div>
                 <label for="description">Description: </label>
                 <input id="description" name="description" value="{{post.description}}"/>
            </div>
            <div>
                 <label for="source">Source: </label>
                 <input id="source" name="source" value="{{post.source}}"/>
            </div>
            <div>
                 <label for="origin">Origin: </label>
                 <input id="origin" name="origin" value="{{post.origin}}"/>
            </div>
            <div>
                 <label for="category">Category: </label>
                 <input id="category" name="category" value="{{post.category}}"/>
            </div>
            <div>
                 <label for="contentType">ContantType: </label>
                 <select id="section" name="contentType" onchange="changeShownPage()">
                    {%if post.contentType == "text/plain"%}
                        <option value="text/plain" selected="selected">
                            text/plain
                        </option>
                    {%else%}
                        <option value="text/plain">
                            text/plain
                        </option>
                    {%endif%}

                    {%if post.contentType == "text/markdown"%}
                        <option value="text/markdown" selected="selected">
                            text/markdown
                        </option>
                    {%else%}
                        <option value="text/markdown">
                            text/markdown
                        </option>
                    {%endif%}

                     <!--
                     <option value="application/base64">
                         application/base64
                     </option>
                     -->
                     {%if post.contentType == "image/png;base64" %}
                        <option value="image/png;base64" selected="selected">
                            image/png;base64
                        </option>
                    {%else%}
                        <option value="image/png;base64">
                            image/png;base64
                        </option>
                    {%endif%}

                    {%if post.contentType == "image/jpeg;base64" %}
                        <option value="image/jpeg;base64" selected="selected">
                            image/jpeg;base64
                        </option>
                    {%else%}
                        <option value="image/jpeg;base64">
                            image/jpeg;base64
                        </option>
                    {%endif%}
                 </select>
            </div>
            <div id="textarea" style="display:inline">
                <label for="textarea">Content: </label>
                <div >
                    <textarea id="texta" name="content" class="form-control text-area" type="text" maxLength="512"  rows="8" style="font-size:16pt" >{{post.content}}</textarea>
                </div>
            </div>
            <div class="upload">
                <div id="uploadImage" style="display:none">
                    <label class="upload_label" for="image">Please choose your image: </label>
                    {% if post.image64 %}
                        <input id="image" type="file" accept="image/png, image/jpeg" value={{post.image64}}>
                    {% elif post.file64 %}
                        <input id="image" type="file" accept="image/png, image/jpeg" value={{post.image64}}>
                    {%else%}
                        <input id="image" type="file" accept="image/png, image/jpeg">
                    {%endif%}
                    <textarea id="imageText" type="text" name="image64" style="display:none"></textarea>
                    <img id="image64" height="300" >
                </div>
            </div>
            <div class="upload"
                <div id="uploadFile" style="display:none">
                    <label class="upload_label" for="file">Please choose your file: </label>
                    <input id="file" type="file"  >
                    <textarea id="fileText" type="text" name="file64" style="display:none"></textarea>
                </div>
            </div>
            <div>
                <label for="visibility">Visibility: </label>
                <select name="visibility">
                    {%if post.visibility == "PUBLIC" %}
                        <option value="PUBLIC" selected="selected">
                            public to everyone
                        </option>
                    {%else%}
                        <option value="PUBLIC">
                                public to everyone
                            </option>
                    {%endif%}

                    {%if post.visibility == "PRIVATE" %}
                        <option value="PRIVATE" selected="selected">
                            private to me
                        </option>
                    {%else%}
                        <option value="PRIVATE">
                                private to me
                            </option>
                    {%endif%}

                    {%if post.visibility == "FRIENDS" %}
                        <option value="FRIENDS" selected="selected">
                            private to my friends
                        </option>
                    {%else%}
                        <option value="FRIENDS">
                                private to my friends
                            </option>
                    {%endif%}

                    {%if post.visibility == "FOAF" %}
                        <option value="FOAF" selected="selected">
                            private to friends of friends
                        </option>
                    {%else%}
                        <option value="FOAF">
                                private to friends of friends
                            </option>
                    {%endif%}

                    {%if post.visibility == "SERVERONLY" %}
                        <option value="SERVERONLY" selected="selected">
                            private to friends on my host
                        </option>
                    {%else%}
                    <option value="SERVERONLY">
                            private to friends on my host
                        </option>
                    {%endif%}
                </select>
            </div>
            <div>
                <!--br>
                Or select who can see your posts-->
            </div>
            <div>
                <label for="unlisted">Unlisted: </label>
                {%if post.unlisted %}
                    <input type="checkbox" name="unlisted" value="True" checked>
                {%else%}
                    <input type="checkbox" name="unlisted" value="True">
                {%endif%}
            </div>
            <div class="btn">
                <input type="submit" value="Edit" style="font-size: 1.5em;">
            </div>
        </div>

    </form>

    <script>
        document.getElementById("image").addEventListener("change", readImage);
        document.getElementById("file").addEventListener("change", readFile);

        function changeShownPage() {
            selection = document.getElementById("section");
            textarea = document.getElementById("textarea");
            uploadImage = document.getElementById("uploadImage");
            uploadFile = document.getElementById("uploadFile");
            texta = document.getElementById("texta");
            image = document.getElementById("image");
            file = document.getElementById("file");
            if ((selection.value == "image/png;base64")||(selection.value == "image/jpeg;base64")) {
                texta.value = '';
                file.value = '';
                textarea.style.display = 'none';
                uploadImage.style.display = 'inline';
                uploadFile.style.display = 'none';
            }
            else if (selection.value == "application/base64"){
                texta.value = '';
                image.value = '';
                textarea.style.display = 'none';
                uploadImage.style.display = 'none';
                uploadFile.style.display = 'inline';
            }
            else{
                image.value = '';
                file.value = '';
                textarea.style.display = 'inline';
                uploadImage.style.display = 'none';
                uploadFile.style.display = 'none';
            }
        }

        function readImage() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.addEventListener("load", function(e) {
                    document.getElementById("image64").src = e.target.result;
                    document.getElementById("image").src = e.target.result;
                    document.getElementById("imageText").value = e.target.result;
                    alert(e.target.result)
                });
                FR.readAsDataURL( this.files[0] );
            }
        }

        function readFile() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.addEventListener("load", function(e) {
                    //alert(e.target.result)
                    document.getElementById("file").src = e.target.result;
                    document.getElementById("fileText").value = e.target.result;
                    alert(e.target.result)
                });
                FR.readAsDataURL( this.files[0] );
            }
        }

        function base64AddPadding(str) {
            return str + Array((4 - str.length % 4) % 4 + 1).join('=');
        }

    </script>

</div>
{% endblock %}
