{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}


<div class="w3-container w3-content" style="max-width:1400px;margin-top:30px">

    <!-- Middle Column -->
    <div class="w3-col" style="position:relative">
      <p style="color: black; font-weight: bold; margin-left: 8%; margin-bottom:1em; font-size: 2.2em">My Friends</p>
      {%for friend in flist%}
      <div class="w3-container w3-card w3-white w3-round " style="position:relative; max-width: 84%; margin-left: 8%"><br>

        <div class = "friend">
          <a class="a-dec2" href="author/{{friend.displayName}}">{{friend.displayName}}
            <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            author_id: {{friend.author_id}}-->
          </a>
        </div>

      </div>
      {%endfor%}
      <!-- End Middle Column -->
    </div>

</div>

{% endblock %}
