{% extends 'base.html' %}

{% block title %}FriendRequests{% endblock %}

{% block content %}


<div class="w3-container w3-content" style="max-width:1400px;margin-top:30px">

    <!-- Middle Column -->
    <div class="w3-col" style="position:relative">
      <p style="color: black; font-weight: bold; margin-left: 8%; margin-bottom:1em; font-size: 2.2em">My Friend Requests</p>
      {%for friend in follower%}
      <div id="onlyforget" class="w3-container w3-card w3-white w3-round " style="position:relative; max-width: 84%; margin-left: 8%; margin-bottom: 8pt;""><br>

        <div class = "friend">
          <a class="a-dec2" href="/accounts/profile/?profile_url={{friend.requestedBy_url}}">{{friend.requestedBy_name}}

          </a>
        </div>

        <button id="accept" href="#" class="btn btn-default" onclick="acceptButton()">Accept</button>
        <button id="delete" href="#" class="btn btn-default" onclick="declineButton()">Decline</button>

        <script>
            //var acceptbtn = document.getElementById("accept");
            //acceptbtn.onclick = acceptButton
            //var deletebtn = document.getElementById("delete");
            //deletebtn.onclick = declineButton
            function acceptButton(){
              data = {
                //"query": "deleteFriendrequest",
                "author":{
                  "url": "{{friend.requestedTo_url}}",
                },
                "friend": {
                  "url": "{{friend.requestedBy_url}}",
                }
              }

              fetch('/acceptfriendrequest',
                {
                  method: "POST",
                  headers:{
                    "Content-Type": "application/json",
                    'X-CSRFToken': Cookies.get('csrftoken')
                  },
                  body: JSON.stringify(data)
                });


            }

            function declineButton(){
              alert("123")
              data = {
                //"query": "deleteFriendrequest",
                "author":{
                  "id": "{{friend.requestedTo_url}}",
                },
                "friend": {
                  "id": "{{friend.requestedBy_url}}",
                }
              }
              alert("456")
              alert(getToken())
              fetch('/deletefriendrequest',
                {
                  method: "POST",
                  headers:{
                    "Content-Type": "application/json",
                    'X-CSRFToken': getToken()
                  },
                  body: JSON.stringify(data)
                });

              alert("789")

            }

            // Reference:
            // https://docs.djangoproject.com/en/2.1/ref/csrf/
            // Cookies.get('csrftoken') cannot be used
            function getToken() {
                var cookieValue = null;
                var name = "csrftoken"
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>


      </div>
      {%endfor%}
      <!-- End Middle Column -->
    </div>

</div>




{% endblock %}
