{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}


  <div class="w3-container w3-card w3-white w3-round w3-margin" style="font-weight: bold; font-size:20pt; "><br>

			Hi {{ user.username }}!
			<p><a href="{% url 'logout' %}" type="button" class="btn btn-info">logout</a></p>
			<p><a href="{% url 'password_reset' %}" type="button" class="btn btn-info">reset password</a></p>
            <p><a href="/accounts/profile/post" type="button" class="btn btn-info">Make Post</a></p>
	  </div>
	</div>

<!--
	<p> i am here</p>
	<div class="allPost">
		{%for post in list%}
		<div class = "Post">
			<li>{{post.title}}</li>
			<li>{{post.description}}</li>
			</div>
		{%endfor%}
	</div>
  -->
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!--<span class="w3-right w3-opacity">1 min</span>-->
        {%for post in list%}
        <div class = "Post">
        <!--<h4>{{ user.username }}</h4><br>-->
        <a href="author/{{post.author_id}}" id="user_profile">{{post.author_id}}</a>
      
        <p>{{post.title}}</p>
        <hr class="w3-clear">
        <p>{{post.description}}</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src={{post.uploadFile}} style="width:100%" alt={{post.title}} class="w3-margin-bottom">
            </div>

        </div>
        </div>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
        <br>
        {%endfor%}
      </div>
{% else %}
  <div class="wrapper">
      <div class="image-bg">

      </div>
      <div class="right-section">
        <div class="middle" >
        <p>You are not logged in</p>
        
        <a class="button-s"  href="{% url 'login' %}">login</a>
      </div>
      </div>
  </div>
        
        

{% endif %}
{% endblock %}
