{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="post_container">

    
    <form >
        Title<input name="title"/>
        <br>
        Description<input name="description">
        <br>
    </form>

    <form>
        <select>
            <option value="private">
                private to me
            </option>
            <option value="public">
                public to everyone
            </option>
            <option value="myfriends">
                private to my friends
            </option>
            <option value="friendsOffriends">
                private to friends of friends
            </option>
            <option value="myhost">
                private to friends on my host
            </option>
        </select>
    </form>

    <form>
        Or select who can see your posts
        {{}}: <input name={{}} value={{}} type="radio"/>
        <br>
    </form>

    <form>
    Choose a image to upload!
    <input name="uploadFile" type="file" />
    </form>




</div>
{% endblock %}