{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container" style="margin-left:10%; margin-top:3%">

	<p class="login-title" style="font-size: 2.7em">Profile</p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> Displayname : {{ userprofile.displayName }} </p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> Profile ID :  {{ userprofile.author_id}}</p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> Bio :  {{ userprofile.bio }}</p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> Host :  {{ userprofile.host }}</p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> GitHub :  {{ userprofile.github }}</p>
	<p class="profile" style="font-size: 1.3em; font-family:Muli"> Url :  {{ userprofile.url }}</p>
	<br>

	{%if thisUser.author_id == userprofile.author_id%}
		<a class="btn btn-default" href="/accounts/profile/edit">Edit Profile</a>

	{%elif not thisUser.author_id%}
    <a class="btn btn-default" href="/accounts/profile/edit">Edit Profile</a>

  {%elif is_following%}
    <form action="{% url 'unfollowrequest' pk=is_following.pk %}" data-method="DELETE" method="POST">
      {%  csrf_token %}
      <input id="DeleteButton" type="submit" class="btn btn-default" value="UnFollow">
    </form>

	{%else%}
		<input id="FollowButton" type="button" class="btn btn-default" value="Follow">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript"}>
      document.getElementById("FollowButton").onclick = updateRelation;

      data = {
                "query": "friendrequest",
                "author": {
                  "id": "{{ thisUser.author_id }}",
                  "host": "",
                  "displayName": "{{ thisUser.displayName }}",
                  "url": ""
                },
                "friend": {
                  "id": "{{ userprofile.author_id }}",
                  "host": "",
                  "displayName": "{{ userprofile.displayName }}",
                  "url": ""
                }
              }

      function updateRelation(){
        fetch('/friendrequest',
          {
            method: "post",
            headers: {
              "Content-Type": "application/json",
              'X-CSRFToken': Cookies.get('csrftoken')
            },
            body: JSON.stringify(data)
          });

        if (document.getElementById("FollowButton").value == "Follow"){
          document.getElementById("FollowButton").value="Following";
          document.getElementById("FollowButton").disable=true;
        }
        else if(document.getElementById("FollowButton").value == "Following"){
          document.getElementById("FollowButton").disable=true;
        }
      }
		</script>

</div>

{%endif%}
{% endblock %}
