{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="post_container">
    Post:<br>
    <div>post_id: {{post.post_id}}</div>
    <div>user_id: {{post.user_id}}</div>
    <div>title: {{post.title}}</div>
    <div>source: {{post.source}}</div>
    <div>origin: {{post.origin}}</div>
    <div>contentType: {{post.contentType}}</div>
    <div>content: {{post.content}}</div>
    <div>content:
        <div id="toMarkdown" >{{post.content}}</div>
    </div>
    <div>category: {{post.category}}</div>
    <div>publish_time: {{post.publish_time}}</div>
    <div>visibility: {{post.visibility}}</div>
    <div>unlisted: {{post.unlisted}}</div>
    <br>
    <div>image:</div>
    <br>
        <!--<div id='imageURL' style="display:none">{{post.image64}}</div>-->
    <img id="image" src="{{MEDIA_URL}}{{post.image64}}" width=500 onerror="this.style.display='none'">
    <br>
    <!--
    <div>file: {{post.file64}}</div>
    <br>

    <a href="{{MEDIA_URL}}{{post.file64}} width=500 onerror="this.style.display='none'"">download</a>
    <br>
    -->
    {%for comments in commentList%}
        Comment:<br>
        <div>post_id: {{comments.comment.post_id}}</div>
        <div>comment_id: {{comments.comment.comment_id}}</div>
        <div>user_id: {{comments.comment.user_id}}</div>
        <div>content: {{comments.comment.content}}</div>
        <div>contentType: {{comments.comment.contentType}}</div>
        <div>publish_time: {{comments.comment.publish_time}}</div>
        <br>
    {%endfor%}

    <script>
        function getImage() {
            var imageURL = document.getElementById('imageURL').innerHTML;
            alert(imageURL)
            var image = document.createElement("image");
            image.src = imageURL;
            image.height = 200;
            image.width = 200;
            //optionally set a css class on the image
            //image.setAttribute("class", "image");
            //document.getElementById("image").appendChild(image);
        }

        function showInMarkdown(){
            var text = document.getElementById("toMarkdown").innerHTML;
            //alert(text);
            //text = '# hello, markdown!';
            //alert(text)
            converter = new showdown.Converter();
            html = converter.makeHtml(text);
            //alert(html);
            document.getElementById("toMarkdown").innerHTML = html;
        }

        showInMarkdown();
        //getImage();
    </script>
</div>
{% endblock %}
